= content_for :title, "#{Rails.env.development? ? :"Dev Timur" : :Timur } - Map"

#root

%div{id: 'ui-group'}
%script{type: 'text/javascript'}
  :plain
    var PROJECT_NAME = '#{@project_name}';
    var USER = "#{current_user ? current_user.name : 'null'}";
    var MODE = 'map';
    var ENVIRONMENT = '#{Rails.env.development? ? 'development' : 'production'}';

%script(src='/js/timur.bundle.js')

